<%= form_for(:session, url: login_path) do |f| %>

  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit "Log in" %>
<% end %>

<p>New user? <%= link_to "Sign up", new_user_path %></p>