
<div class="dialog">
  <h1>Sign up</h1>

  <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages' %>

    <%= f.label :username %>
    <%= f.text_field :username %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation, "Confirmation" %>
    <%= f.password_field :password_confirmation %>

    <%= f.submit "Sign up" %>
  <% end %>
  <ul class="session-links">
    <li>Already have an account?</li>
    <li><%= link_to "Sign In", root_path %></li>
  </ul>
</div>